*{
    margin: 0;
    padding: 0;
}

/* body{
    background-color: black;
    color: white;
} */

.left{
    width: 25vw;
    height: 75vw;
    padding: 10px;
}

.right{
    width: 75vw;
    height: 75vw;
    margin: 20px 0;
    position: relative;
}

.home ul li{
    width: 20px;
    list-style: none;
    display: flex;
    gap: 3px;
    padding: 3px;
    padding-top: 5px;
    
}

.centre-txt{
    text-align: center;
    display: flex;
}

.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.footer a{
    color: gray;
    display: flex;
}

.library{
    min-height: 90vh;
    position: relative;
    height: 66.5vw;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 48, 48);
}

.header >*{
    padding: 20px;
    height: 25px;
}

.spotifyPlaylists{
    padding: 10px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: scroll;
}

.card{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
}

.card img{
    width: 100%;
    object-fit: contain;
}
.card >*{
    padding-top: 3px;
}

.play{   
    position: absolute;
    top: 386px;
    right: 814px;
    background-color: green;
    opacity: 0;
    transition: all 0.5s ease-out;

}

.play:hover{
    top: 270px;
    opacity: 1;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(49, 48, 48);
    color: rgb(177, 172, 172);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 1.1rem;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 5px;
    width: 80px;
    cursor: pointer;

}

.loginbtn:hover{
    font-weight: bold;
    padding: 6px;

}

.playbar{
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: green;
    width: 95%;
    bottom: 5px;
    border-radius: 20px;
    height: 45px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist ul{
    padding: 0 1px;
    
}

.songlist ul li{
    list-style: none;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 1px 0;
    border: 1px solid white;
    border-radius: 6px;
    margin: 12px 0px;
}


.playnow{
    display: flex;
    justify-content: center;
    align-items: center;

}

.info{
    font-size: 15px;
    width: 150px;
}

.songlist{
    height: 600px;
}

.seekbar{
    height: 2px;
    width: 97%;
    border: 2px solid white;
    position: absolute;
    bottom: 8px;
    border-radius: 10px;
}

.circle{
    width: 22px;
    height: 22px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -9px;
    left: -2px;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}

.songinfo .songtime{
    
    color: white;
}

